<% provide(:title, 'Create pool') %>
<!-- Render the season navigation bar -->
<%= render 'shared/mgmt_weeks_nav', season: current_season(1), week_number: 0 %>

<h1>Create Pool</h1>
<div class="row">
  <!-- Render the main navigation bar -->
  <%= render 'shared/sidebar_nav', pool: nil %>
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">Create New Pool</div>
      <div class="panel-body">
        <%= simple_form_for @pool, html: { class: 'form-horizontal pull-left' },
              wrapper: :horizontal_form,
              wrapper_mappings: {
              check_boxes: :horizontal_radio_and_checkboxes,
              radio_buttons: :horizontal_radio_and_checkboxes,
              file: :horizontal_file_input,
              boolean: :horizontal_boolean
        } do |f| %>
          <%= render 'fields', f: f %>
          <%= f.button :submit, 'Create pool', class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
