<div class='nested-fields card card-body bg-light'>
    <%= f.input :game_date, as: :datetime, html5: true,
                label: false %>
  <fieldset>
    <div class="row game-row">
      <%= f.input :awayTeamIndex, label: false,
                    collection: Team.all.where(nfl: true), value_method: :id,
                    label_method: :name,
                    placeholder: "Away Team",
                    include_blank: true,
                    autofocus: true,
                    input_html: { id: "awayteam", class: "game_team" } %>
      <%= f.input :homeTeamIndex, label: false,
                    collection: Team.all.where(nfl: true), value_method: :id,
                    label_method: :name,
                    placeholder: "Home Team",
                    include_blank: true,
                    input_html: { id: "hometeam", class: "game_team" } %>
      <%= f.input :_destroy, as: :hidden %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to_remove_association "remove", f %>
    </div>
  </fieldset>
</div>
