<% provide(:title, "Create Week #{@week.week_number}") %>
<!-- Render the season navigation bar -->
<%= render 'shared/mgmt_weeks_nav', season: current_season(1), week_number: 0 %>

<h1>Create Week <%= @week.week_number %></h1>
<div class="row">
  <!-- Render the main navigation bar -->
  <%= render 'shared/sidebar_nav', pool: nil%>
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-header">Enter Game Information </div>
      <div class="panel-body">
        <%= simple_form_for [@season, @week],
            wrapper: :horizontal_form,
            wrapper_mappings: {
              datetime:      :horizontal_multi_select,
              check_boxes:   :horizontal_collection,
              radio_buttons: :horizontal_collection,
              file:          :horizontal_file,
              boolean:       :horizontal_boolean
        } do |f| %>
          <%= f.error_notification %>
          <div id="weeks">
            <%= f.simple_fields_for :games do |g| %>
              <%= render 'game_fields', f: g %>
            <% end %>
            <div class='games'>
              <%= link_to_add_association 'Add New Game', f, :games %>
            </div>
          </div>
          <br /><br />
          <%= f.button :submit, label: "Create week", class: 'btn btn-large btn-primary' %>
          <small><%= link_to "Auto create?", auto_create_path(@week.id) %></small>
        <% end %>
      </div>
    </div>
  </div>
</div>
