<% provide(:title, 'Create season') %>
<h1>Create Season</h1>
<div class="row">
  <!-- Render the main navigation bar -->
  <%= render 'shared/sidebar_nav', pool: @pool %>
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">Create New Season for <%= "#{@season.year}" %></div>
      <div class="panel-body">
        <%= simple_form_for @season, html: { class: 'form-horizontal' },
          wrapper: :horizontal_form,
          wrapper_mappings: {
            check_boxes: :horizontal_radio_and_checkboxes,
            radio_buttons: :horizontal_radio_and_checkboxes,
            file: :horizontal_file_input,
            boolean: :horizontal_boolean
        } do |f| %>
          <%= render 'fields', f: f %>
          <%= f.button :submit, 'Create season', class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>