<% provide(:title, "Season #{@season.year}") %>
<!-- Render the season navigation bar -->
<%= render 'shared/mgmt_weeks_nav', season: current_season(1), week_number: 0 %>

<% if @season.isPending? %>
  <% season_state = "Pending" %>
<% elsif @season.isOpen? %>
  <% season_state = "Open" %>
<% elsif @season.isClosed? %>
  <% season_state = "Closed" %>
<% else %>
  <% season_state ="Unknown" %>
<% end %>
<div class="row">
  <%= render 'shared/sidebar_nav', pool: nil %>
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading"> <%= "#{@season.year}" %> &nbsp;-&nbsp;Season: <%= season_state %>
      </div>
      <div class="panel-body">
        <% current_week = @season.getCurrentWeek %>
        <% if current_user.admin? %>
          <%= link_to "[edit]", edit_season_path(@season) %>
          <%= link_to "[Delete]", @season, method: :delete,
            data: {confirm: "Are you sure?"}, title: "Delete Season #{@season.year}" %>
          <% if current_user.admin? %>
            <%= link_to "[Diagnostics]", season_diagnostics_path(@season), id: @season.id %>
          <% end %>
        <% end %>
        <ul class="list-group">
          <li class="list-group-item"><b>Type:</b>
          <% if @season.nfl_league %>
              NFL League
          <% else %>
            College League
          <% end  %>
          </li>
          <li class="list-group-item"><b>Number of Weeks: </b> <%= "#{@season.number_of_weeks}" %></li>
          <li class="list-group-item">
            <% if current_week %>
              <b>Current Week: </b> <%= "#{current_week.week_number} " %>
              <b>State: </b> <%= render 'shared/show_week_state', week: current_week %>
              <small><%= link_to "[edit]", edit_week_path(current_week) %></small>
            <% else %>
              <b>Current Week: </b> <%= "No weeks created yet" %>
            <% end %>
          </li>
        </ul>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown">
            Set Season State
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Open", season_open_path(@season) %></li>
            <li><%= link_to "Closed", season_closed_path(@season) %></li>
          </ul>
        </div>
        <% if current_week && !current_week.checkStateFinal %>
          <%= render "shared/show_week_state_btn", week: current_week %>
        <% end %>
      </div>
    </div>
  </div>
</div>