<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Football Pool Mania", root_path, 
                  class:'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
    <% if signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.name %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to '<i class="fa fa-user fa-fw"></i>Profile'.html_safe, current_user %></li>
            <li><%= link_to '<i class="fa fa-cog fa-fw"></i>Settings'.html_safe, edit_user_path(current_user) %></li>
            <% if !current_user.confirmed? %>
              <li><%= link_to '<i class="fa fa-envelope fa-fw"></i>Resend Confirmation'.html_safe,
                               resend_confirm_path(current_user) %></li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to '<i class="fa fa-sign-out fa-fw"></i>Sign out'.html_safe, signout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      </ul>
    <% else %>
      <%= form_tag(sessions_path, class: 'navbar-form navbar-right', 
                     role: 'form') do %>
        <div class="form-group">
          <%= text_field_tag :email, params[:email],
                class: 'form-control', placeholder: "Email"%>
        </div>
        <div class="form-group">
          <%= password_field_tag :password, nil,
                class: 'form-control', placeholder: "Password"%>
        </div>
        <%= submit_tag "Sign in", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    </div><!--/.navbar-collapse -->
  </div>
</header>
