<nav class="header-main">
  <%= link_to "Football Pool Mania", root_path, class:'header-brand' %>
  <% if signed_in? %>
  <button class="header-button" type="button" data-toggle="collapse"
          data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="header-button-toggler"></span>
  </button>
  <div class="header-links" id="navbar-list-2">
    <ul class="" id="main-nav-list">
      <li class="header-link-nav-item">
        <% active_class = active_class(root_path) %>
        <%= link_to 'Home', root_path,
                   class: "header-nav-link #{active_class}" %>
      </li>

      <!-- Level one dropdown -->
      <li class="nav-item dropdown">
        <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
          <li><a href="#" class="dropdown-item">Some action </a></li>
          <li><a href="#" class="dropdown-item">Some other action</a></li>

          <li class="dropdown-divider"></li>

          <!-- Level two dropdown-->
          <li class="dropdown-submenu">
            <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
            <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
              <li>
                <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
              </li>

              <!-- Level three dropdown-->
              <li class="dropdown-submenu">
                <a id="dropdownMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                <ul aria-labelledby="dropdownMenu3" class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">3rd level</a></li>
                  <li><a href="#" class="dropdown-item">3rd level</a></li>
                </ul>
              </li>
              <!-- End Level three -->

              <li><a href="#" class="dropdown-item">level 2</a></li>
              <li><a href="#" class="dropdown-item">level 2</a></li>
            </ul>
          </li>
            <!-- End Level two -->
        </ul>
      </li>
      <!-- End Level one -->

    </ul>
    <% else %>
    <%= form_tag(sessions_path, class: 'navbar-form navbar-right',
                   role: 'form') do %>
      <div class="form-group">
        <%= text_field_tag :email, params[:email],
              class: 'form-control', placeholder: "Email"%>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, nil,
              class: 'form-control', placeholder: "Password"%>
      </div>
      <%= submit_tag "Sign in", class: "btn btn-primary" %>
    <% end %>

    <% end %>
  </div>
</nav>
